@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-200 text-gray-900; /* پس‌زمینه کلی خاکستری‌تر */
  font-family: Vazirmatn, system-ui, sans-serif;
}

/* هایلایت آبی برای واژه‌های ایتالیایی */
.hl-it {
  font-weight: 600;
  color: #0070f3;
}

/* جهت‌ها */
.it-text { direction: ltr; text-align: left; }
.fa-text { direction: rtl; text-align: right; }

/* کارت ترجمه */
.tr-card { @apply bg-white shadow rounded-md px-3 py-2 text-gray-900 leading-relaxed; }